.dashboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin-bottom: 16px;
}

.box {
  padding: 16px;
  border-radius: 12px;
  background: white;
  border-left: 6px solid #ccc;
}

.box span {
  font-size: 32px;
  font-weight: bold;
}

.box p {
  margin: 4px 0 0;
}

@media (min-width: 700px) {
  .dashboard {
    grid-template-columns: repeat(4, 1fr);
  }
}